.schedule {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    border-left: 1px solid rgb(221, 232, 241);
    width: 370px;
}

/* .schedule-container {
    height: 40%;
    min-height: 500px;
} */

.schedule-month {
    display: flex;
    flex-direction: column;
}

.schedule-month-day {
    cursor: pointer;
    width: 45px;
    text-align: center;
}

.schedule-month-week {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    margin-bottom: 8px;
}

.schedule-month-title-name {
    text-align: center;
    margin: 24px 0px 24px 0px;
}

.schedule-month-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    margin-right: 8px;
    color: #00D8F6;
}

.schedule-month-title-year {
    color: #00D8F6;
    font-weight: bold;
}

.schedule-navigator {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 24px);
    margin: 0 auto;
}

.schedule-navigator-trigger {
    margin-top: 16px;
    color: #00D8F6;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: .3s;
}

.schedule-navigator-trigger:hover {
    border-bottom: 2px solid #00D8F6;
}

.schedule-tasks { 
    margin-top: 48px;
    height: calc(100% - 340px);
}