.multiSelect {
    width: 90%;
    margin: 0 auto;
    margin-top: 12px;
}

.multiSelect-question {
    display: flex;
}

.multiSelect-question-label {
    margin-right: 12px;
    font-weight: bold;
    font-style: italic;
}

.multiSelect-answers {
    margin-top: 12px;
}

.multiSelect-answers-item {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.multiSelect-answers-item-input {
    width: 60% !important;
}

.multiSelect-newAnswer {
    color: #00D8F6;
    cursor: pointer;
    margin-top: 12px;
    display: block;
}