.profile {

}

.profile-container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-top: 24px;
}

.profile-banner {
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 244, 247);
    padding: 24px 36px 24px 36px;
    border-radius: 5px;
}

.profile-banner-image {
    width: 100px;
    height: 100px;
}

.profile-banner-image img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.profile-banner-info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 124px);
    margin-left: 24px;
}

.profile-banner-info-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.profile-banner-info-name {
    font-weight: bold;
}

.profile-banner-info-position {
    color: #6b778c;
}

.profile-banner-info-about-top-right-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.profile-banner-info-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.profile-banner-info-bottom-item-manager-image {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-right: 6px;
}

.profile-banner-info-bottom-item-manager {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    padding: 8px 12px 8px 12px;
    background-color: rgb(240, 244, 247);
    color: #00D8F6;
    font-weight: 600;
    border-radius: 8px;
    transition: .3s;
    cursor: pointer;
}

.profile-banner-info-bottom-item-manager:hover {
    background-color: #00D8F6;
    color: #ffffff;
}

.profile-banner-info-bottom-item-label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 6px;
}

.profile-banner-info-bottom-email {
    color: #6b778c;
}

.profile-banner-info-bottom-role{
    color: #6b778c;
}

.profile-statistic {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    padding: 24px 36px 24px 36px;
    background-color: rgb(240, 244, 247);
    border-radius: 5px;
}

.profile-statistic-body {
    margin: 0 auto;
    width: 100%;
}

.profile-history {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    padding: 24px 36px 24px 36px;
    background-color: rgb(240, 244, 247);
    border-radius: 5px;
    overflow-y: scroll;
    height: calc(100vh - 580px);
}

