.createBlock-info-label {
    margin-right: 16px;
    font-style: italic;
    font-weight: bold;
}

.createBlock-info {
     
    margin-bottom: 12px;
}

.createBlock-info-input {
    border: 0px;
    border-bottom: 1px solid #c7c7c7;
    outline: 0;
    outline-offset: 0; 
    width: 100%;
    background-color: transparent;
}

.createBlock-info-input:focus {
    border-bottom: 1px solid  #1976d2;
}

.createBlock-info-textarea {
    border: 1px solid #c7c7c7;
    outline: 0;
    outline-offset: 0; 
    width: 100%;
    height: 120px;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px;
}

.createBlock-info-textarea:focus {
    border: 1px solid  #1976d2;
}


.createBlock-info-title {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}

.createBlock-info-description {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
}

.createBlock-type {
    display: flex;
    margin-top: 24px;
}

.createBlock-type-label {
    font-style: italic;
    font-weight: bold;
}

.createBlock-type-select {
    margin-left: 12px;
    border: 0;
    border-bottom: 1px solid rgb(221, 232, 241);
    background-color: transparent;
}

.createBlock-type-select:focus {
    outline: 0;
    outline-offset: 0; 
    border-bottom: 1px solid  #1976d2;
}

.createBlock {
    border: 1px solid rgb(221, 232, 241);
    padding: 8px ;
    margin-bottom: 12px;
     
}

.input {
    border: 0px;
    border-bottom: 1px solid rgb(221, 232, 241);
    outline: 0;
    outline-offset: 0; 
    width: 100%;
    background-color: transparent;
}