.testsPage-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    background-color: rgb(240, 244, 247);
    width: 100%;
}

.testsPage-navbar-item {
    list-style-type: none;
    margin-right: 24px;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}

.testsPage-navbar-item.active {
    color:  #1976d2;
}

.testsPage-navbar-item:last-child {
    margin-right: 0px;
}

.testsPage-container {
    margin-left: 1px;
    height: 100%;
}

.testsPage-create {
    height: calc(100% - 58px);
}

.testsPage-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testsPage-list-item:first-child {
    width: calc(50% - 30px);
    margin-left: 24px;
    margin-right: 6px;
}

.testsPage-list-item:last-child {
    width: calc(50% - 30px);
    margin-left: 6px;
    margin-right: 24px;
}

.testsPage-users {
    padding: 12px 24px 12px 24px;
}