.testsPage-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 244, 247);
    width: 100%;
    margin-bottom: 24px;
}

.testsPage-navbar-item > h6 {
    margin-bottom: 0px;
}

.testsPage-navbar-item {
    list-style-type: none;
    margin-right: 24px;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
}

.testsPage-navbar-item.active {
    color:  #1976d2;
}

.testsPage-navbar-item:last-child {
    margin-right: 0px;
}

.testsPage-container {
    margin-left: 1px;
    height: 100%;
}

.testsPage-create {
    height: calc(100% - 58px);
}

.testsPage-list {
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin:  0 auto;
}

.testsPage-list-item{
    width: 100%;
    height: 100%;
}

.testsPage-users {
    padding: 12px 24px 12px 24px;
}

.testsPage-navbar-subNavbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    list-style-type: none;
    position: absolute;
}

.testsPage-navbar-subNavbar-item {
    background-color: rgb(240, 244, 247);
    color: black;
    border-right: black;
    padding: 6px;
    margin: 0;
    transition: 0.3s;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
