.tooltip {
    position: relative;
}

.tooltip:hover .tooltip-content {
    animation: appearance-animation .2s forwards;
}

.tooltip-content {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(100% + 14px);
    top: 0px;
    border: 1px solid rgb(240, 244, 247);
    background-color: rgb(240, 244, 247);
    border-radius: 0px 5px 5px 0px;
    padding: 8px 12px 8px 12px;
    color: #6b778c;
    animation: disappearance-animation .2s forwards;
}
/* 
.tooltip: .tooltip-content::after {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(100% + 14px);
    top: 0px;
    border: 1px solid rgb(240, 244, 247);
    background-color: rgb(240, 244, 247);
    border-radius: 0px 5px 5px 0px;
    padding: 8px 12px 8px 12px;
    color: #6b778c;
    animation: appearance-animation .2s forwards;
} */

@keyframes appearance-animation {
    0% {
        opacity: 0;
        transform: translateX(-40px);
        display: flex;
    }

    50% {
        opacity: .5;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes disappearance-animation {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }

    50% {
        opacity: .5;
        transform: translateX(-20px);
    }

    100% {
        opacity: 0;
        transform: translateX(-40px);
        display: none;
    }
}