.app-container {
    display: flex;
    justify-content: flex-start;
    height: calc(100% - 64px) ;
}

.app-container-panel {
    height: 100%;
    width: 60px;
}

.app-container-content {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}